@use "_reset.scss";
body{
   font-family: "Fira Sans", sans-serif;  
	font-size: 1.125rem;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex-grow: 1;
		display: flex;
	}
	background-color: #f0858b; 
}
[class*="__container"]{
	max-width: 65.625rem;
	margin: 0 auto;
}
.header__logo{ 
   line-height: 5.625rem; 
   font-size: 1.25rem;
   color: #fff;
   font-family: "Bebas Neue", sans-serif;
   letter-spacing: 0.0625rem; 
   text-transform: uppercase;  
}
.article{
	flex-grow: 1;
   display: flex;  
}

.article__container{ 
	flex-grow: 1; 
	background-color: #e8d1d1; 
	border-radius: 0.625rem;
	padding:1.875rem;
	color:#4b3f3f;
min-height:100%;
}
.article h1{
	font-size: 1.875rem;
	margin-bottom: 1.875rem;

	font-weight: 700;

	
}

.list__link{
line-height: 150%;  

	transition: color 0.5s;
@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: #db020d;
			}
		}
		}

		.item {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
    &__title {
      font-size: 1.2rem;
      color: #333;
    }

    &__link {
      background: #f0858b;
      color: #fff;
      padding: 0.4rem 0.8rem;
      border-radius: 8px;
      text-decoration: none;
      font-size: 0.9rem;
      transition: background 0.3s;

      &:hover {
        background: #d96e76;
      }
    
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: #555;
	 line-height: 150%;
	 &:not(:last-child){
		margin-bottom: 0.625rem;
	 }
  }
  
}
.footer__container{
	font-size: 1rem;
	text-align: left;
	color: #fff;
	line-height: 1.3125rem;
   padding: 1.875rem 0rem;
}
.title-solution{
	font-size: 1.25rem;  
	color:#db020d;  
}


.solution{
	font-size: 1.125rem;
	line-height: 150%;
}
table{
	max-width:auto;
	border-collapse: collapse;
	tr{
		th{
			border: 2px solid #f0858b;
			padding: 0.625rem 1.25rem;
		}
		td{
			border: 2px solid #f0858b;
			padding: 0.625rem 1.25rem;
             
		}
	}
}

.task15{
	max-width:auto;
	border-collapse: collapse;
	tr{
		th{
			border: 2px solid #f0858b;
			padding: 0.625rem 1.25rem;
			font-size: 1rem;
			line-height: 150%;
			font-weight: 700;
		}
		td{
			border: 2px solid #f0858b;
			padding: 0.625rem 1.25rem;
         font-size: 1rem;
			line-height: 150%;
			font-weight: 400;      
		}
	}
}
.task{
	  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  img{
	margin-bottom: 1.25rem;
  }
  h2{
	font-size: 1.25rem;  
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 1.25rem;
  }
  h3{
	font-size: 18px;
    line-height: 150%;

    margin-bottom: 0.3125rem;
	 padding-top:1.25rem;
  }
  .task-description{
	font-size: 1.25rem;  
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 1.25rem;
  }
   .title-solution{
	font-size: 1.25rem;  
	color:#db020d;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 1.25rem;

}
.title-solution--without-padding{
	padding:0;
	font-size: 1.25rem;  
	color:#db020d;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 1.25rem; 
}
    p {
    margin: 0;
    font-size: 1rem;
    color: #555;
	
	
&.solution{
	font-size: 1.125rem;
	line-height: 150%;
}
  }
}
.receipt{
	&__title{
		font-size: 1.125rem;
		font-weight: 700;
	}
	&__markup{
		font-size: 1.125rem;
	}
	&__text{
		font-size: 0.75rem;
	}
}
.input-data{
	font-size: 1.125rem;
	line-height: 150%;
	font-style: italic;
}


	.list--1{ 
		margin-left:1.25rem;
		li{
			list-style: disc;
			font-size: 1rem;
    		color: rgb(85, 85, 85);
    		line-height:150%;
		}
	}

hr {
  border: none;
  border-top: 1px solid #f0858b;
  margin: 1em 0;
}

.triangle{
	 width:auto;
	 background-color: #f0858b;
	 display:inline-block;
	 padding:0.625rem;
	 white-space: pre; 
	 font-family: monospace;
	
}
div{
	line-height: 1.5; 
}
.steps{
	height:400px;
	overflow-y: auto;
	margin-bottom:20px; 
}
.page#page18 {
  img { 
    max-width: 28.125rem;
  }
}

.form {
	max-width:50%;
margin-top:40px;
		&__field {
			margin-bottom:20px;
		}

		&__buttons {
			padding-bottom:20px;
			border-bottom:1px solid #f0858b;
			button{
				background: #f0858b;
				color: #fff;
				padding: 7px 15px;
				border-radius: 8px;
				text-decoration: none;
				font-size: 14px;
				transition: background 0.3s;
				margin-right:10px;
				text-transform: uppercase;
&:hover {
        background: #d96e76;
      }
			}
		}
}
.field {

		&__label {
			line-height: 150%;
			margin-right:10px;
		}

		&__input {
			line-height: 150%;
			outline: 1px solid #333;
			font-size: 16px;
			border-radius:5px;
			padding-inline:10px;
			color:#333;
			margin-left:10px;
		}
}
.result {

padding-top:20px;
		&__label {
			line-height: 150%;
			margin-right:10px;
		}

		&__input {
			line-height: 150%;
			outline: 1px solid #333;
			font-size: 16px;
			border-radius:5px;
			padding-inline:10px;
			color:#333;
		}
}

.result-convert {
margin-bottom: 0;
padding-top:20px;
		&__label {
			line-height: 150%;
			margin-right:10px;
		}

		&__input {
			line-height: 150%;
			outline: 1px solid #333;
			font-size: 16px;
			border-radius:5px;
			padding-inline:10px;
			color:#333;
		}
}
.task__description{
	margin-bottom:20px;
	.title{
		font-size: 21px;
		font-weight:700;
	}
}
.error{
	color:#db020d;
	font-size: 12px;
}

.task__solution{
	
}

.athletes-lists {
display:flex;
padding-top:20px; 
gap:20px;
		&__general {
width:280px;	
		
		}

		&__selected {
	width:280px;	
	
		}
		&__item {
			padding:5px;
			border:2px solid #d96e76;
			margin-bottom:10px;
			display:flex;
			gap:10px;
			justify-content:space-between;
  			cursor: pointer;

		}
		&__title{
			font-weight: 700;
			text-align: center;
		}
		&__list{
			border:2px solid #d96e76;
			padding:10px;
			height:350px;
		}

}
.athletes-lists__selected .athletes-lists__item{
	&::after{
		content:'';
		background-image: url('../img/red-arrow.png');
		width:32px;
		height:32px;
	}
}

.athletes-lists__general .athletes-lists__item{
	&::after{
		content:'';
		background-image: url('../img/green-arrow.png');
		width:32px;
		height:32px;
	}
}
.hello{
	width:auto;
}
#body-stars{
	background:#050021;

}
.star {
      position: fixed;
		transition:all 0.5s linear;
      }
.task .mb{
	margin-bottom: 20px; 
}
.form-check {
	padding-top:20px;
width:50%;
margin:0 auto;
.field__label{
	width:200px; 
}
.form__field{
	display:flex;
	gap:20px;
	position:relative;
	padding-bottom:10px;
}
.form__buttons{
text-align:center;
border:none;
}
.error{
	position:absolute;
	bottom:0;
}
}
.task--regular-expressions {
	div{
		font-weight:700;
		margin-bottom: 10px;
		padding-top:10px;
	}
	.title-solution{
		padding-top:20px;
	}
}
.changeColorCount{
	font-weight:700;
}
.task--collection{
	div{
		font-weight:700;
		margin-bottom: 10px;
		padding-top:10px;
	}
	.title-solution{
		padding-top:20px;
	}
	p{
		margin-bottom:10px;
	}
}

.form--add-task{
		padding-top:20px;
width:50%;
margin:0 auto;
.field__label{
	width:200px; 
}
.form__field{
	display:flex;
	gap:20px;
	position:relative;
	padding-bottom:10px;
}
.form__buttons{
text-align:center;
border:none; 
}
.error{
	position:absolute;
	bottom:0;
}
}

.task--date{
	div{
		font-weight:700;
		margin-bottom: 10px;
		padding-top:10px;
	}
	.title-solution{
		padding-top:20px;
	}
	p{
		margin-bottom:10px; 
	}
}
.item__content{
	text-align:center; 
	img{
max-width:400px;
max-height:600px;
	}
}
.task--cats{
	h3{
		 text-transform: uppercase;
		 font-weight:700;
	}
}
.list-items__content{
	display:flex;
	flex-wrap:wrap;
	gap:5px;
	.list-items__item{
		width:184px;
		height:184px;
    position: relative;
	 overflow: hidden; 
	border-radius: 8px;
img{
   width: 100%;
	height: 100%;
	object-fit: cover; 
	display: block;
}
	}
}

.block-image{
	margin-top:10px;
	img{
		width:300px;
	}
}




