.formField {
  margin-bottom: 20px;
  display:flex;
}
.fieldLabel {
  line-height: 150%;
  margin-right: 10px;
}
.fieldInput {
	flex-grow:1;
  line-height: 150%;
  outline: 1px solid #f0858b;
  border:none;
  font-size: 16px;
  border-radius: 5px;
  padding-inline: 10px;
  color: #333;
}
.debouncedSearch{
	margin-top:40px;
}
li {
	list-style: none;
}
ul{
		padding: 0;
	margin: 0;
}
.list{
	display:flex;
	gap:16px;
   flex-direction: column;
	margin-top:40px;

}
.item {
    background: linear-gradient(135deg, var(--card), rgba(255, 255, 255, .7));
    border: 1px solid var(--border-light);
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 4px 12px #20212414;
    transition: all .2s ease;
    cursor: pointer;
	display:flex;
	 justify-content: space-between;
	 gap:16px;
	 padding:20px 30px;
	 align-items:center;
	 img{
		width:50px;
	 }
	
}