
.athletes-lists {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}
.athletes-lists__general {
  width: 280px;
}
.athletes-lists__selected {
  width: 280px;
}
.athletes-lists__item {
  padding: 5px;
  border: 2px solid #d96e76;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  cursor: pointer;
}
.athletes-lists__title {
  font-weight: 700;
  text-align: center;
}
.athletes-lists__list {
  border: 2px solid #d96e76;
  padding: 10px;
  height: 350px;
}

.athletes-lists__selected .athletes-lists__item::after {
  content: "";
  background-image: url("/red-arrow.png");
  width: 32px;
  height: 32px;
}

.athletes-lists__general .athletes-lists__item::after {
  content: "";
  background-image: url("/green-arrow.png");
  width: 32px;
  height: 32px;
}
