.container {
  
	max-width: 1080px;
   margin: 0 auto;
   padding-inline: 0.9375rem;

}
.main {
height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
padding:20px;
  background-color:#e2e2e2;

}
.mainContainer{
    border: 1px solid rgba(16, 24, 40, .06);
    border-radius: 12px;
    box-shadow: 0 4px 12px #20212414;
    background-color:#fff;
    height:100%;
    padding:20px;
}
h1{
  color: #01a923;
  font-weight:700;
  font-size: 36px;
}