.item{

	display:flex;
	justify-content:space-between;
	align-items: center;
}

.button {
  background: #f0858b;
  color: #fff;
  padding: 7px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
  margin-right: 10px;
  text-transform: uppercase;
}
.button:hover {
  background: #d96e76;
}