.list-number{
	display:flex;
	gap:10px;
	
	padding:10px;
	
	justify-content:center;
	color:#ffffff;
	font-weight:700;
	margin:0 auto;
	margin-bottom:20px;

}
.list-number__item{
	width:50px;
	height:50px;
	background-color:#f0858b;
	border-radius:2px;
	font-size:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}