.productDetail{
	display:flex;
gap:16px;
align-items: flex-start;
}
.detailPrice{
	font-size:16px;
	font-weight:700;
}
.detailImage{
	width:200px;
aspect-ratio: 100 / 100;
	img{
		width:100%;
		height:100%;
		    object-fit: contain;
	}
}