.productItem{
display:flex;
gap:16px;
align-items: flex-start;



	border: 1px solid rgba(16,24,40,0.06);
	border-radius: 12px;
	padding: 18px;
	box-shadow: 0 4px 12px rgba(32,33,36,0.08);
	transition: all 0.2s ease;
	

}
.productItem:hover{
	transform: translateY(-4px);
	box-shadow: 0 12px 24px rgba(32,33,36,0.12);
	border-color: rgba(240,133,139,0.1);
}
.itemImage{
	width:100px;
aspect-ratio: 100 / 100;
	img{
		width:100%;
		height:100%;
		    object-fit: contain;
	}
}
.itemLink{
color:#f0858b;
}
.itemLink:hover{
	color:#db020d;
}
.itemPrice{
	font-size:16px;
	font-weight:700;
}