.postsItem{
	display:flex;
	gap:15px;
	margin-bottom:20px;
	p{
		margin:0;
	}
	button{
	border-radius: none;
    border: none;
    padding: 0;
    background-color: none;
    cursor: pointer;
	}
}

.itemLogo{
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:#7d0467;
	img{
		width:100%;
		height:100%;
	}
}
.likes{
	display:flex;
	gap:10px;
	align-items: center;
}