#root {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;

}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: middle;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.block{
  padding:15px;
  margin-bottom:20px;
  border-radius:10px;

  width:800px;

}
h2{
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.container{
	margin-bottom:20px;
}