


.fieldInput input{
  line-height: 150%;
  outline: 1px solid #333;
  border:none;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  margin-bottom:20px;
}
